# .env files
back-end/.env

# Node Stuff
back-end/node_modules
back-end/package-lock.json

# React Stuff
front-end/package-lock.json

# Photos
back-end/photos
movie_photo

# dev JS files
front-end/src/GetConfigurationTMDB_frontend.js
front-end/src/GetPhotoTMDB_frontend.js

# Instructions
Instructions-MySQL.md
